<%=
update_element_function('region_div', 
                        :action => :update, 
                        :content => render(:partial =>'region')) 
%>
<% if @phone_number then %>
<%=
update_element_function('country_code_div', 
                        :action => :update, 
                        :content => render(:partial =>'country_code')) %>
<% end %>